assets/extracted/
assets/figures/
assets/glbal alumni tour/
assets/hobbies/music/
assets/hobbies/photography/
assets/hobbies/sport/
assets/lego microscope/
assets/personal pictures/
assets/projects/depth-ratio-detector.jpg
assets/projects/focus-stack-dff.png
assets/projects/glbal alumni tour/
assets/projects/lego microscope/
assets/projects/solar-cell-crack.jpg
assets/projects/zemax design/
resume.pdf
resume_en.pdf
